/web/api/vendor
/web/api/config.php
/web/api/composer.lock
/tac_plus.cfg*
/tacTestOutput.txt
/backups/api/*
/backups/database/*
/backups/gui/*
/log/apache2/*
/log/tacacs/*
/ssl/*

!/backups/api/.gitkeep
!/backups/database/.gitkeep
!/backups/gui/.gitkeep
!/log/apache2/.gitkeep
!/log/tacacs/.gitkeep
!/ssl/.gitkeep
