.block-below {
  position: relative;
}
.block-partial {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #a7abc329;
  z-index: 1;
}
.block-container {
  padding: 7px;
}
